/******************************************************************
Site Name: Order
Author: Sebastian Lenton

Stylesheet: style.scss

No development styles should be included here.

******************************************************************/

/*!dev by sebastianlenton.com*/

/*********************
MQ
*********************/

$mq-responsive: true;

$mq-breakpoints: (
  tablet: 768px,
  desktop: 1280px
);

@import '../../bower_components/sass-mq/_mq';


/*********************
SASS IMPORTS
*********************/

@import "modules/reset";
@import "modules/html";
@import "modules/variables";
@import "modules/fonts";
@import "modules/grid";
@import "modules/body";
@import "modules/typography";
@import "modules/showersHiders";
@import "modules/imgPlaceholders";
@import "modules/utilities";
@import "modules/headerMain";
@import "modules/navMain";
@import "modules/footerMain";
@import "modules/footerMainSticky";

@import "modules/shame";            //if there's anything in here, there's technical debt to be reduced


/*********************
PRINT STYLESHEET
*********************/
@media print {

    // styles in print.scss
    @import "modules/print";

}
