/******************************************************************
Site Name: Order
Author: Sebastian Lenton

Stylesheet: Body

******************************************************************/

body {
  background: $black;
  color: $white;

  //TEMP!
  margin-top: 4rem;
}