/******************************************************************
Site Name: Order
Author: Sebastian Lenton

Stylesheet: Fonts

******************************************************************/

/*********************
FONT STACKS
*********************/

$fontStack:     'Pitch Sans', monospace;


/*********************
FONT FACE: DEMO
*********************/

@font-face {
  font-family: 'Pitch Sans';
  src: url('/frontend/fonts/PitchSansWeb-Medium.eot');
  src: url('/frontend/fonts/PitchSansWeb-Medium.eot?#iefix') format('embedded-opentype'),
       url('/frontend/fonts/PitchSansWeb-Medium.woff2') format('woff2'),
       url('/frontend/fonts/PitchSansWeb-Medium.woff') format('woff');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Pitch Sans';
  src: url('/frontend/fonts/PitchSansWeb-MediumItalic.eot');
  src: url('/frontend/fonts/PitchSansWeb-MediumItalic.eot?#iefix') format('embedded-opentype'),
       url('/frontend/fonts/PitchSansWeb-MediumItalic.woff2') format('woff2'),
       url('/frontend/fonts/PitchSansWeb-MediumItalic.woff') format('woff');
  font-weight:  400;
  font-style:   italic;
  font-stretch: normal;
}