/******************************************************************
Site Name: Order
Author: Sebastian Lenton

Stylesheet: Fonts

******************************************************************/

/*********************
FONT STACKS
*********************/

$fontStack:     monospace;


/*********************
FONT FACE: DEMO
*********************/

/*@font-face {
  font-family: 'Lyon Text Web';
  src: url('../fonts/lyonText/LyonText-Bold-Web.eot');
  src: url('../fonts/lyonText/LyonText-Bold-Web.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lyonText/LyonText-Bold-Web.woff2') format('woff2'),
       url('../fonts/lyonText/LyonText-Bold-Web.woff') format('woff');
  font-weight:  700;
  font-style:   normal;
  font-stretch: normal;
}*/
