/******************************************************************
Site Name: Order
Author: Sebastian Lenton

Stylesheet: Footers

All footer styling

******************************************************************/

.navMain {
  background: $grey1_85;
  backdrop-filter: blur(9px);
  position: fixed;
  top: 0;
  width: 100%;
}