/******************************************************************
Site Name: Order
Author: Sebastian Lenton

Stylesheet: Footers

All footer styling

******************************************************************/

.navMain {
  background: $black;
  position: fixed;
  top: 0;
  width: 100%;
}