/******************************************************************
Site Name: Order
Author: Sebastian Lenton

Shame - this is for quick fixes only!
Try to clear this down on a regular basis.

******************************************************************/


/**
 * normal shame stuff (be ashamed if there's CSS here)
 */




/**
 * dev only styles
 */

h1, h2, h3, h4, h5 {
    //outline: 1px solid #333;
}

p, li {
    //outline: 1px solid #333;
}

p, h1, h2, h3, ul {
    margin-bottom: 2rem;
}


.g {
    //background: #222;
}

body {
    margin-top: 8rem;
}

.navMain {
    height: 5rem;
    padding-top: 1.5rem;
}

.cf {
    height: 3rem;
    clear: both;
    //background: #111;
}

/** backgrounds to show grid */

.g {
    background: #222;
}

.cf {
    background: #111;
}